@media only screen {
  ::-webkit-scrollbar {
    height: rem(6);
    width: rem(6);
    margin-inline: rem(12);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-primary-red);
    border-radius: rem(8);
    margin-inline: rem(12);
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--color-neutral-300);
    border-radius: rem(8);
    margin-inline: rem(12);
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
}
